*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #352208;
    font-family: "Poppins", sans-serif;
}

                                /* Header Section Started */

header{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav{
    width: 95%;
    margin: 10px auto;
    background-color: #E1BB80;
    border-radius: 30px;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 0 2%;
    font-size: 1.1em;
    line-height: 50px;
    height: 50px;
    box-shadow: 0 2px 5px;
}

.logo{
    width: 40%;
}

.menu{
    width: 60%;
}

.more{
    font-size: 2rem;
    display: none;
    color: #685634;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li a{
    text-decoration: none;
    color: #352208;
}

nav ul li a:hover{
    color: #685634;
}

@media screen and (max-width: 768px) {
        #list{
            display: none;
            text-align: right;
            background-color: #E1BB80;
            width: 20%;
            padding-right: 5%;
            height: 100vh;
            position: absolute;
            right: 0;
            margin-top: 10px;
            z-index: 1;
            border-radius: 30px;
        }

        .more{
            display: block;
            text-align: right;
        }
}

                                /* Header Section Ended*/

                                /* Section 1 Started */

#section1{
    width: 100vw;
}

.sec1{
    width: 80vw;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec1-txt{
    width: 45%;
    padding: 50px 0;
}

.sec1-txt{
    font-size: 2rem;
    font-weight: bolder;
    color: #7B6B43;
}

.name{
    font-style: italic;
    color: #E1BB80;
}

#element{
    color: #E1BB80;
}

                                /* Section 1 Ended */